<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>GetVAPro Cebu</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon" />
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="vendor/aos/aos.css" rel="stylesheet" />
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/pe-icon-7-stroke.css" rel="stylesheet" />

    <!--     <link href='css/ct-navbar.css' rel='stylesheet' /> -->
    <link href="css/rotating-card.css" rel="stylesheet" />
    <link href="css/bootstrap.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Bocor - v4.8.0
  * Template URL: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1>
            <img src="img/logo.png" alt="" class="img-fluid" />
            <!-- <a href="index.html">GetVAPro</a> -->
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About Us</a></li>
            <li><a class="nav-link scrollto" href="#services">Services</a></li>
            <li>
              <a class="nav-link scrollto" href="#portfolio">Portfolio</a>
            </li>
            <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
            <li>
              <a class="getstarted scrollto" href="#about">Get Started</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div
            class="col-lg-6 py-5 py-lg-0 order-2 order-lg-1"
            data-aos="fade-right"
          >
            <h1 class="branding-white">
              Your new digital experience with GetVAPro
            </h1>
            <h2>Business digitalization made easier</h2>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
          <div
            class="col-lg-6 order-1 order-lg-2 hero-img"
            data-aos="fade-left"
          >
            <img src="img/hero-img.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Clients Section ======= -->
      <!-- <section id="clients" class="clients dark-section-bg">
        <div class="container">
          <div class="row no-gutters clients-wrap clearfix wow fadeInUp">
            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img
                  src="assets/img/clients/client-1.png"
                  class="img-fluid"
                  alt=""
                  data-aos="flip-right"
                />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img
                  src="assets/img/clients/client-2.png"
                  class="img-fluid"
                  alt=""
                  data-aos="flip-right"
                  data-aos-delay="100"
                />
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-6">
              <div class="client-logo">
                <img
                  src="assets/img/clients/client-3.png"
                  class="img-fluid"
                  alt=""
                  data-aos="flip-right"
                  data-aos-delay="200"
                />
              </div>
            </div>
          </div>
        </div>
      </section> -->
      <!-- End Clients Section -->

      <!-- ======= About Section ======= -->
      <section id="about" class="about section-bg">
        <div class="container">
          <div class="row gy-4">
            <div class="image col-xl-5"></div>
            <div class="col-xl-7">
              <div
                class="content d-flex flex-column justify-content-center ps-0 ps-xl-4"
              >
                <h3 data-aos="fade-in" data-aos-delay="100">
                  Why you need a Virtual Assistant
                </h3>
                <p data-aos="fade-in">
                  Virtual Assistant's are the common denominator used by many
                  online businesses for reducing operational costs, flexible
                  workload, and fuels your online presence in the fast paced
                  digital marketing society that we are living on.
                </p>
                <br />
                <h3 data-aos="fade-in" data-aos-delay="100">
                  Why Choose VAPro?
                </h3>
                <div class="row gy-4 mt-3">
                  <div class="col-md-6 icon-box" data-aos="fade-up">
                    <i class="bx bx-receipt branding"></i>
                    <h4 class="white-text"><a href="#">Organized</a></h4>
                    <p>
                      We aim to keep your social media posts, videos, and other
                      related stuff organized, so you don't have to worry.
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >
                    <i class="bx bx-cube-alt branding"></i>
                    <h4><a href="#">Professional Graphics</a></h4>
                    <p>
                      We create customized graphics that suits your branding and
                      style, and before it is posted, you get to review all of
                      the designs ahead of time.
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="200"
                  >
                    <i class="bx bx-images branding"></i>
                    <h4><a href="#">Professional Video Edits</a></h4>
                    <p>
                      We offer variety of customized video editing ranging from
                      Tiktok, Youtube Shorts, Youtube Videos, Vlogs,
                      Infommercial and other types of videos that is at par with
                      industry standards.
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    <i class="bx bx-shield branding"></i>
                    <h4><a href="#">Client Protection</a></h4>
                    <p>
                      When we work, we always think about you - our client. We
                      always offer the best and polished work that we can give
                      and always protect your personal interests and goals.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End .content-->
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container">
          <div class="section-title">
            <h2 data-aos="fade-in">Services</h2>
            <p data-aos="fade-in">
              Here are the main services that we currently offer
            </p>
          </div>

          <div class="row">
            <div class="col-md-6 d-flex" data-aos="fade-right">
              <div class="card">
                <div class="card-img">
                  <img src="img/services-1.jpg" alt="..." />
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="">Video Editing</a>
                  </h5>
                  <p class="card-text">
                    We cater from , color grading, green screen removals, sound
                    effects, and even normal video editing for tiktok, youtube
                    shorts, and many more.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex" data-aos="fade-left">
              <div class="card">
                <div class="card-img">
                  <img src="img/services-2.jpg" alt="..." />
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="">Graphic Design</a>
                  </h5>
                  <p class="card-text">
                    We create both animated and static graphic designs specific
                    to your branding and needs. We customize it based on your
                    liking and graphical taste.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex" data-aos="fade-right">
              <div class="card">
                <div class="card-img">
                  <img src="img/services-3.jpg" alt="..." />
                </div>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="">Social Media Management</a>
                  </h5>
                  <p class="card-text">
                    We manage your business and we help your brand grow to its
                    fullest potential in the digital marketing space.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex" data-aos="fade-left">
              <div class="card">
                <div class="card-img">
                  <img src="img/services-4.jpg" alt="..." />
                </div>
                <div class="card-body">
                  <h5 class="card-title"><a href="">Website Development</a></h5>
                  <p class="card-text">
                    We develop your personalized websites using wordpress or any
                    other available frameworks that are at par with the current
                    industry standards.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      <!-- ======= Pricing Section ======= -->
      <section id="pricing" class="pricing section-bg">
        <div class="container">
          <div class="section-title">
            <h2 data-aos="fade-in">Pricing</h2>
            <p data-aos="fade-in">
              Here are the basic pricing that we are offering right now.
            </p>
          </div>

          <div class="row no-gutters">
            <div class="col-lg-4 box" data-aos="zoom-in">
              <span class="featured-badge">Regular</span>
              <h3>Business</h3>
              <h4 class="branding">$800<span>per month</span></h4>
              <ul>
                <li>
                  <i class="bx bx-check branding"></i> Everything in Free
                  Package
                </li>
                <li><i class="bx bx-check branding"></i> Graphic Designs</li>
                <li><i class="bx bx-check branding"></i> Video Edits</li>
                <li>
                  <i class="bx bx-check branding"></i> Social Media Management
                </li>
                <li><i class="bx bx-check branding"></i> Analytics</li>
              </ul>
              <a href="#contact" class="get-started-btn mb-3">Get Started</a>
            </div>

            <div class="col-lg-4 box featured" data-aos="zoom-in">
              <span class="featured-badge">Promo</span>
              <h3>First Partner</h3>
              <h4 class="branding">
                50% Off<span
                  >Promo only until <br />
                  September 15, 2022</span
                >
              </h4>
              <ul>
                <li>
                  <i class="bx bx-check branding"></i> Includes Business Package
                </li>
                <li><i class="bx bx-check branding"></i> Onboarding</li>
                <li>
                  <i class="bx bx-check branding"></i> Free Branding
                  Consultation
                </li>
                <br />
              </ul>
              <a href="#contact" class="get-started-btn mt-5">Get Started</a>
            </div>

            <div class="col-lg-4 box" data-aos="zoom-in">
              <h3>Development</h3>
              <h4 class="branding">Contact Us <span>for more info</span></h4>
              <ul>
                <li><i class="bx bx-check branding"></i> UI/UX Design</li>
                <li><i class="bx bx-check branding"></i> Web Development</li>
                <li><i class="bx bx-check branding"></i> Deployment</li>
                <li>
                  <i class="bx bx-check branding"></i> Free 2 Months Maintenance
                </li>
                <br />
              </ul>
              <a href="#contact" class="get-started-btn mt-2">Get Started</a>
            </div>
          </div>
        </div>
      </section>
      <!-- End Pricing Section -->

      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio section-bg">
        <div class="container">
          <div class="section-title">
            <h2 data-aos="fade-in">Portfolio</h2>
            <p data-aos="fade-in">
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Graphic Designs</li>
                <li data-filter=".filter-card">Website</li>
                <li data-filter=".filter-web">Video Edits</li>
              </ul>
            </div>
          </div>

          <div class="row portfolio-container" data-aos="fade-up">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="img/portfolio/portfolio-1.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="App 1"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>App 1</h4>
                  <p>App</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-2.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="img/portfolio/portfolio-2.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Web 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="img/portfolio/portfolio-3.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="App 2"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>App 2</h4>
                  <p>App</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-4.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="img/portfolio/portfolio-4.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Card 2"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Card 2</h4>
                  <p>Card</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-5.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="img/portfolio/portfolio-5.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Web 2"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Web 2</h4>
                  <p>Web</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-6.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="img/portfolio/portfolio-6.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="App 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>App 3</h4>
                  <p>App</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-7.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="img/portfolio/portfolio-7.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Card 1"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Card 1</h4>
                  <p>Card</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-8.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="img/portfolio/portfolio-8.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Card 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Card 3</h4>
                  <p>Card</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="img/portfolio/portfolio-9.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="img/portfolio/portfolio-9.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Web 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="portfolio-details.html" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

      <!-- ======= Team Section ======= -->
      <section id="team" class="team section-bg">
        <div class="container">
          <div class="section-title">
            <h2 data-aos="fade-in">Team</h2>
            <p data-aos="fade-in">
              You are not just entrusting your business to random people but get
              to know the people behind creating your graphic designs, website,
              social media management, video editors and many more. You are
              working with real life people with great and amazing talent and
              experts in their own crafts.
            </p>
          </div>

          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="col-md-4 col-sm-6">
                <div class="card-container" data-aos="fade-in">
                  <div class="card">
                    <div class="front">
                      <div class="cover">
                        <img src="https://picsum.photos/500/300?random=1" />
                      </div>
                      <div class="user">
                        <img class="img-circle" src="img/team/team-1.jpg" />
                      </div>
                      <div class="content">
                        <div class="main">
                          <h3 class="name">Jen Murillo-Samson</h3>
                          <p class="profession">CEO</p>
                          <p class="text-center">"My description here"</p>
                        </div>
                      </div>
                    </div>
                    <!-- end front panel -->
                    <div class="back">
                      <div class="header">
                        <h5 class="motto">"My motto here"</h5>
                      </div>
                      <div class="content">
                        <div class="main">
                          <h4 class="text-center">Job Description</h4>
                          <p class="text-center">Job Description here</p>

                          <div class="stats-container">
                            <div class="stats">
                              <h4>235</h4>
                              <p>Designs</p>
                            </div>
                            <div class="stats">
                              <h4>114</h4>
                              <p>Clients</p>
                            </div>
                            <div class="stats">
                              <h4>35</h4>
                              <p>Projects</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end back panel -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end card-container -->
              </div>
              <!-- end col sm 3 -->

              <div class="col-md-4 col-sm-6">
                <div class="card-container" data-aos="fade-in">
                  <div class="card">
                    <div class="front">
                      <div class="cover">
                        <img src="https://picsum.photos/500/300?random=120" />
                      </div>
                      <div class="user">
                        <img class="img-circle" src="img/team/team-3.jpg" />
                      </div>
                      <div class="content">
                        <div class="main">
                          <h3 class="name">Kyrah Ceniza</h3>
                          <p class="profession">Admin</p>

                          <p class="text-center">"Expertise here"</p>
                        </div>
                      </div>
                    </div>
                    <!-- end front panel -->
                    <div class="back">
                      <div class="header">
                        <h5 class="motto">"Motto here!"</h5>
                      </div>
                      <div class="content">
                        <div class="main">
                          <h4 class="text-center">Job Description</h4>
                          <p class="text-center">
                            "Detailed Job description here"
                          </p>

                          <div class="stats-container">
                            <div class="stats">
                              <h4>235</h4>
                              <p>Designs</p>
                            </div>
                            <div class="stats">
                              <h4>114</h4>
                              <p>Clients</p>
                            </div>
                            <div class="stats">
                              <h4>35</h4>
                              <p>Projects</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end back panel -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end card-container -->
              </div>
              <!-- end col-sm-3 -->

              <div class="col-md-4 col-sm-6">
                <div class="card-container" data-aos="fade-in">
                  <div class="card">
                    <div class="front">
                      <div class="cover">
                        <img src="https://picsum.photos/500/300?random=140" />
                      </div>
                      <div class="user">
                        <img class="img-circle" src="img/team/team-2.jpg" />
                      </div>
                      <div class="content">
                        <div class="main">
                          <h3 class="name">James Karl Sia</h3>
                          <p class="profession">Creative</p>

                          <p class="text-center">"Expertise here"</p>
                        </div>
                      </div>
                    </div>
                    <!-- end front panel -->
                    <div class="back">
                      <div class="header">
                        <h5 class="motto">"Motto here!"</h5>
                      </div>
                      <div class="content">
                        <div class="main">
                          <h4 class="text-center">Job Description</h4>
                          <p class="text-center">
                            "Detailed Job description here"
                          </p>

                          <div class="stats-container">
                            <div class="stats">
                              <h4>235</h4>
                              <p>Designs</p>
                            </div>
                            <div class="stats">
                              <h4>114</h4>
                              <p>Clients</p>
                            </div>
                            <div class="stats">
                              <h4>35</h4>
                              <p>Projects</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end back panel -->
                  </div>
                  <!-- end card -->
                </div>
                <!-- end card-container -->
              </div>
              <!-- end col-sm-3 -->
            </div>
            <!-- end col-sm-10 -->
          </div>
          <!-- end row -->
        </div>
      </section>
      <!-- End Team Section -->

      <!-- ======= Frequently Asked Questions Section ======= -->
      <!-- <section id="faq" class="faq section-bg">
        <div class="container">
          <div class="section-title">
            <h2 data-aos="fade-in">Frequently Asked Questions</h2>
            <p data-aos="fade-in">
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div> -->

      <!-- <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
          >
            <div class="col-lg-5">
              <i class="bx bx-help-circle"></i>
              <h4>Non consectetur a erat nam at lectus urna duis?</h4>
            </div>
            <div class="col-lg-7">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id
                volutpat lacus laoreet non curabitur gravida. Venenatis lectus
                magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </div> -->
      <!-- End F.A.Q Item-->

      <!-- <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="col-lg-5">
              <i class="bx bx-help-circle"></i>
              <h4>
                Feugiat scelerisque varius morbi enim nunc faucibus a
                pellentesque?
              </h4>
            </div>
            <div class="col-lg-7">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant
                morbi. Id interdum velit laoreet id donec ultrices. Fringilla
                phasellus faucibus scelerisque eleifend donec pretium. Est
                pellentesque elit ullamcorper dignissim.
              </p>
            </div>
          </div> -->
      <!-- End F.A.Q Item-->

      <!-- <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="col-lg-5">
              <i class="bx bx-help-circle"></i>
              <h4>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant
                morbi?
              </h4>
            </div>
            <div class="col-lg-7">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices
                sagittis orci. Faucibus pulvinar elementum integer enim. Sem
                nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                pellentesque eu tincidunt. Lectus urna duis convallis convallis
                tellus.
              </p>
            </div>
          </div> -->
      <!-- End F.A.Q Item-->

      <!-- <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="col-lg-5">
              <i class="bx bx-help-circle"></i>
              <h4>
                Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
              </h4>
            </div>
            <div class="col-lg-7">
              <p>
                Aperiam itaque sit optio et deleniti eos nihil quidem cumque.
                Voluptas dolorum accusantium sunt sit enim. Provident
                consequuntur quam aut reiciendis qui rerum dolorem sit odio.
                Repellat assumenda soluta sunt pariatur error doloribus fuga.
              </p>
            </div>
          </div> -->
      <!-- End F.A.Q Item-->

      <!-- <div
            class="row faq-item d-flex align-items-stretch"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="col-lg-5">
              <i class="bx bx-help-circle"></i>
              <h4>
                Tempus quam pellentesque nec nam aliquam sem et tortor
                consequat?
              </h4>
            </div>
            <div class="col-lg-7">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo.
                Dignissim suspendisse in est ante in. Nunc vel risus commodo
                viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
                bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </div> -->
      <!-- End F.A.Q Item-->
      <!-- </div>
      </section> -->
      <!-- End Frequently Asked Questions Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
            <p>
              Book a call with us and plan with us on how we can help your
              business grow in the digital market.
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-md-12">
                  <div class="info-box" data-aos="fade-up">
                    <i class="bx bx-map branding"></i>
                    <h3>Our Address</h3>
                    <p>A108 Adam Street, New York, NY 535022</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="info-box mt-4"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >
                    <i class="bx bx-envelope branding"></i>
                    <h3>Email Us</h3>
                    <p>info@example.com<br />contact@example.com</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div
                    class="info-box mt-4"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >
                    <i class="bx bx-phone-call branding"></i>
                    <h3>Call Us</h3>
                    <p>+1 5589 55488 55<br />+1 6678 254445 41</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form w-100"
                data-aos="fade-up"
              >
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="branding-background">
                    Send Message
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-6">
              <h3>GetVAPro</h3>
              <p>Sign up with your email to receive updates from VaPro</p>
            </div>
          </div>

          <div class="row footer-newsletter justify-content-center">
            <div class="col-lg-6">
              <form action="" method="post">
                <input
                  type="email"
                  name="email"
                  placeholder="Enter your Email"
                /><input
                  type="submit"
                  value="Subscribe"
                  class="branding-background"
                />
              </form>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>
      </div>

      <div class="container footer-bottom clearfix">
        <div class="copyright">
          &copy; Copyright <strong><span>GetVaPro</span></strong
          >. All Rights Reserved
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>
    <!-- Template Main JS File -->
    <script src="js/main.js"></script>
  </body>
</html>
